<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".VelithorneApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_velithorne_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_velithorne_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VelithorneInnerWay">
        <service
            android:name=".services.SensorPollingService"
            android:exported="false" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.VelithorneInnerWay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
